body {
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	background-color: #e6e6e6;
}

main {
	width: 90%;
	margin: auto;
	padding: 2%;

}

h1, h2 {
	font-family: 'Noticia';
	font-weight: lighter;
}

a {
	margin: 1em 0;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

footer {
	text-align: center;
}

footer p {
	color: #939598;
	font-size: .8em;
}

section img {
	display: block;
	margin: auto;
}

button {
	margin-top: 15px;
}

form {
	width: 165px;
	margin-top: 9%;
}

input {
	width: 100px;
}

fieldset {
	padding: 10px;
}

legend {
	padding: 0 5px;
}

.logo {
	width: 250px;
	margin: 15px auto;
	display: block;
}

.button_lg {
	margin: 15px 0;
	text-align: center;
	padding: .5% 0;
	color: white;
	cursor: pointer;
	background-color: #356831;
	-webkit-transition: background-color .5s ease-in-out;
		transition: background-color .5s ease-in-out;
}

.button_lg:hover {
	background-color: #5d865a;
}

.logo {
	width: 250px;
	margin: 15px auto;
	display: block;
}

.contact_cont, .gift_cont, .award_cont {
	display: none;
	background-color: white;
	padding: 5%;
}


.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
	font-weight: lighter;
}

.right {
	text-align: right;
}

.gallery {
	display: none;
	width: 100%;
}

.left_cont {
	height: 30vh;
	width: 30%;
	min-width: 200px;
	background-color: rgba(0, 0, 0, .6);
	padding: 5%;
	color: white;
	font-size: 1.5em;
}

/*Menu Page and MixItUp*/
.small {
	font-size: .8em;
	margin-top: 0;
}

.menu_sel {
	padding: 2%;
	border-bottom: #e6e6e6 solid 1px;
	text-align: center;
	cursor: pointer;
}


/* Mix It Up */
.controls {
	padding: 2%;
	background: white;
	margin-bottom: 2%;
}

#Container .mix {
	display: none;
}

.container{
	text-align: justify;
	background: #e6e6e6;
	-webkit-backface-visibility: hidden;
}

.container:after{
	content: '';
	display: inline-block;
	width: 98%;
}

.container .mix,
.container .gap{
	display: inline-block;
	width: 100%;
}

.container .mix{
	text-align: center;
	background: white;
	display: none;
	margin: 0 auto 2%;
	border-bottom: #5d865a 5px solid;
}

.container .mix:after{
	content: attr(data-myorder);
	color: white;
	font-size: 16px;
	display: inline-block;
	vertical-align: top;
	padding: 4% 6%;
	font-weight: 700;
}

.mix img {
	width: 93%;
}

.mix h3 {
	margin-bottom: .1em;
}


/*Media Queries*/
@media (min-width: 550px) {
	.container .mix, .container .gap {
		width: 49%;
	}
}

@media (min-width: 750px) {
	.gallery {
		display: block;
	}

	.container .mix, .container .gap {
	width: 32%;
	}

	.menu_sel {
	width: 20.5%;
	display: inline-block;
	}

}

@media (min-width: 1000px) {
	main {
		background-color: white;
		max-width: 1250px;
	}

	.award_cont, .gift_cont, .contact_cont {
		display: block;
	}

	.column {
		vertical-align: top;
		width: 33%;
		display: inline-block;
	}

	.container .mix, .container .gap {
		width: 23.5%;
	}

	.container {
		padding: 2% 2% 0 2%;
	}
}
