body {
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	background-color: #e6e6e6;
}

main {
	width: 90%;
	margin: auto;
	padding: 2%;

}

.button_lg {
	margin: 15px 0;
	text-align: center;
	padding: .5% 0;
	color: white;
	cursor: pointer;
	background-color: #356831;
	-webkit-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

.button_lg:hover {
	background-color: #5d865a;

}

.logo {
	width: 250px;
	margin: 15px auto;
	display: block;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
