body {
	font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	background-color: #e6e6e6;
}

main {
	width: 90%;
	margin: auto;
	padding: 2%;

}

h1, h2 {
	font-family: 'Noticia';
	font-weight: lighter;
}

a {
	margin: 1em 0;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

footer {
	text-align: center;
}

footer p {
	color: #939598;
	font-size: .8em;
}

section img {
	display: block;
	margin: auto;
}

button {
	margin-top: 15px;
}

form {
	width: 165px;
	margin-top: 9%;
}

input {
	width: 100px;
}

fieldset {
	padding: 10px;
}

legend {
	padding: 0 5px;
}

.logo {
	width: 250px;
	margin: 15px auto;
	display: block;
}

.button_lg {
	margin: 15px 0;
	text-align: center;
	padding: .5% 0;
	color: white;
	cursor: pointer;
	background-color: #356831;
	-webkit-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}

.button_lg:hover {
	background-color: #5d865a;
}

.logo {
	width: 250px;
	margin: 15px auto;
	display: block;
}

.contact_cont, .gift_cont, .award_cont {
	display: none;
	background-color: white;
	padding: 5%;
}


.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.bold {
	font-weight: bold;
}
